<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="welcome">
        Bem-vindo ao sistema {{ nome }}!
    </div>
    <div class="options">
        <a href="/cadastro_produto" class="option-btn">Cadastro de Produto</a>
        <a href="/gestao_estoque" class="option-btn">Gestão de Estoque</a>
        <a href="/logout" class="option-btn">Logout</a>
    </div>
</body>
</html>